body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'KoPubWorld';
  font-style: normal;
  font-weight: Light;
  src: url(./styles/font/KoPubWorld-Dotum-Light.ttf) format('truetype')
}

@font-face {
  font-family: 'KoPubWorld';
  font-style: normal;
  font-weight: Medium;
  src: url(./styles/font/KoPubWorld-Dotum-Medium.ttf) format('truetype')
}

@font-face {
  font-family: 'KoPubWorld';
  font-style: normal;
  font-weight: Bold;
  src: url(./styles/font/KoPubWorld-Dotum-Bold.ttf) format('truetype')
}

@font-face {
  font-family: 'Munhwajae';
  font-style: normal;
  font-weight: normal;
  src: url(./styles/font/munhwajae-regular.ttf) format('truetype')
}

@font-face {
  font-family: 'Jeju';
  font-style: normal;
  font-weight: normal;
  src: url(./styles/font/JejuGothicOTF.otf) format('truetype')
}